/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
*{
	width:100%;
	margin: 0 auto;
}
nav{
	text-align:middle;
	display:inline;
	position:fixed;
	width:50%;
	top:0;
	padding-left:330px;
}
nav a{
	display:inline;
	font-size:15px;
	width:50%;
	color:gray;
	background-color:lightblue;
	padding: 0 5px 0;
	border:1px solid black;
	border-radius:5px;
	text-decoration:none;
	margin:3%;

}
nav a:hover{
	color:white;
}
.logo{
display:inline;
position:fixed;
top:0;
width:8%;
margin-left:28%;
}
.topbar{
	display:inline-block;
	width:100%;
}
h1{
	font-size:60px;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	padding-top:120px;
	padding-right:1%;
	margin-left:22%;
	margin-bottom:-4%;
	width:20%;
	
}
.headerimage{
	width: 20%;
	display:inline-block;
	text-align:right;
	margin-top:2%;
	margin-right:10%;
	margin-left:-3%;
}
.startbutton{
	display:inline;
	padding-right:2%;
	padding-left:2%;
	border: 1px solid black;
	margin-left:-15%;
	margin-right:13%;
}
.topsection{
	display:inline-block;
	width:27%
	margin: 0 2.5%;
}
.topsectioncontainer{
	display:inline-block;
	width:100%;
	padding-left:12%;
	margin: 2% 5%;
}
.features{
	display:inline-block;
	height:42px;
	width:29.5%;
	margin-right:4%;
}
.about{
	display:inline-block;
	height:42px;
	width:29.5%;
}
.middle-img{
	height:175px;
	width:72.5%;
	padding-left:318px;
	margin: 0px 0px 20px;
}
.services{
	display:inline-block;
	width:17.5%;
	margin-left:17.3%;
	margin-right:1%;
}
.product{
	display:inline-block;
	width:17.5%;
	margin-right:1%;
}
.vision{
	display:inline-block;
	width:17.5%;
}
hr{
	width:55.5%;
	margin-top: 3%;
	margin-right:27.5%;
	border:1px solid black;
}
.contactcontainer{
	display:inline-block;
	width: 25%;
	padding-bottom:20px;
	margin-left:17.2%;
	margin-top:2%;
	margin-bottom:2%;
	line-height:20px;
}
.copyright{
	display:block;
	text-align:center;
	font-size:12px;
	width:15%;
	margin-top:1%;
	margin-left:37%;
}